<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840873633115-n9gftliub3i6ulestn2ovtrk9nfdbcke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840873633115-n9gftliub3i6ulestn2ovtrk9nfdbcke</string>
	<key>API_KEY</key>
	<string>AIzaSyDNEYiPBb2cmMhBmGA4x21nb7a13BKEA6U</string>
	<key>GCM_SENDER_ID</key>
	<string>840873633115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mylibrary</string>
	<key>PROJECT_ID</key>
	<string>mylibrary-3965a</string>
	<key>STORAGE_BUCKET</key>
	<string>mylibrary-3965a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840873633115:ios:292c3cea0dddcd0643667e</string>
</dict>
</plist>